<html>
	<head>
		<title>Welcome Page</title>
		<meta charset="UTF-8" />
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">	
</head>
	<body class="container">

<div class="jumbotron">
	<div class="container text-center">
  <h1>Welcome!</h1>
  <h1>أهلا وسهلا بكم!</h1>
  <p>Which language would you prefer?</p>
  <p>في أي لغة تريد أن تلعب?</p>

</div>
</div>

<div class="row" style="text-align:center;">
  <div class="col-md-6">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/US_flag_48_stars.svg/220px-US_flag_48_stars.svg.png" alt="american flag" width="300" height="200">
<p> 
  <a href="/game_english">
        <button>play</button>
  </a>
</p>
</div>
  
 <div class="row" style="text-align:center;">
 	<div class="col-md-6">
 		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Flag_of_Syria.svg/2000px-Flag_of_Syria.svg.png" alt="syrian flag" width="300" height="200">
    <p>
      <a href="/game_arabic">
        <button>إلعب</button>
      </a>
    </p>
  </div>
</div>

</body>
</html>
