<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
        النتيجة الحالية هي:
        <%= session["score"] %>
      </p>
      <% if @correct %>
        <h1>صحيح</h1>
      <div>
      <a href="/game_arabic">الجولة التالية</a>
      </div>
      <br />
      <div>
      <a href="/">الصفحة الرئيسية</a>
      </div>
      <% else %>
        <h1>خاطئ</h1>
      
      <div>
      <a href="/game_arabic">الجولة التالية</a>
      </div>
      <br />
      <div>
      <a href="/">الصفحة الرئيسية</a>
      </div>
      <% end %>
     </div>
    <div class="col-md-3"></div>
  </div>
</div>
